.App {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  width: 256px;
  text-align: center;
  margin: 5px 0;
}

.input {
  margin: 5px 0;
  width: 256px;
  height: 32px;
}

.error {
  width: 256px;
  color: red;
  text-align: center;
  margin: 5px 0;
}

.btn-primary {
  background-color: #0688fa;
  height: 32px;
  margin: 5px 0;
  border: 0px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #29bbff;
}