@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.flex {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  text-align: center;
  margin: 50px 0;
  font-size: 48px;
}

.doctor {
  height: 512px;
}

.input {
  margin: 5px 0;
  width: 256px;
  height: 32px;
}

.error {
  width: 256px;
  color: red;
  text-align: center;
  margin: 5px 0;
}

.message {
  width: 256px;
  color: green;
  text-align: center;
  margin: 5px 0;
}

.btn-primary {
  background-color: #0688fa;
  height: 32px;
  margin: 5px 0;
  border: 0px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.disabled {
  background-color: gray;
}

.credits {
  font-size: 12px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .heading {
    font-size: 28px;
    padding: 10px;
    margin: 0;
  }
  .btn-primary {
    width: 256px;
  }
  .doctor {
    height: 128px;
  }
  .flex {
    align-items: center;
  }
  .image {
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
  }
}